
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section ng-app="ApplicationRole" ng-controller="ApplicationRoleController" ng-init="GetApplicationMenuTreeview()">
  
    <div class="container-fluid border mb-2">
        <div class="m-2" ng-init="GetComboApplication()">
            <div class="form-group">
                <label for="ApplicationSelect">Application</label>
                <select class="form-control" id="ApplicationSelect"
                        ng-model="APPLICATION"
                        ng-options="o.APP_NAME for o in LIST_COMBO_APPLICATION track by o.APP_ID"
                        ng-change="ComboApplicationChange()"></select>
            </div>
        </div>
    </div>

    <div class="container-fluid border mb-2">
        <div class="m-2">
            <button type="button" id="btnAddSub" ng-click="AddApplicationRole()" class="btn btn-primary"><i class="fa fa-plus"></i> Add Application Role</button>
        </div>
    </div>
  
    <div class="container-fluid border mb-2">
        <div class="m-2">
            <table id="tableApplicationRole" class="cell-border compact stripe"></table>
        </div>
    </div>

    <div class="modal fade" id="modalAddRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Application Name</label>
                            <input type="text" class="form-control" ng-model="APP_NAME" readonly>
                            <label for="exampleFormControlInput1">Role Name</label>
                            <input type="text" class="form-control" ng-model="_ROLE_NAME">
                            <label for="exampleFormControlInput1">Role Description</label>
                            <textarea  type="text" class="form-control" ng-model="_ROLE_DESCRIPTION"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="AddApplicationRoleConfirm()">Add Role</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalViewRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Application Name</label>
                            <input type="text" class="form-control" ng-model="APP_NAME" readonly>
                            <label for="exampleFormControlInput1">Role Name</label>
                            <input type="text" class="form-control" ng-model="_ROLE_NAME" readonly>
                            <label for="exampleFormControlInput1">Role Description</label>
                            <textarea type="text" class="form-control" ng-model="_ROLE_DESCRIPTION" readonly></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalUpdateRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Application Name</label>
                            <input type="text" class="form-control" ng-model="APP_NAME" readonly>
                            <label for="exampleFormControlInput1">Role Name</label>
                            <input type="text" class="form-control" ng-model="_ROLE_NAME" >
                            <label for="exampleFormControlInput1">Role Description</label>
                            <textarea type="text" class="form-control" ng-model="_ROLE_DESCRIPTION" ></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="UpdateApplicationRoleConfirm()">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDeleteRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this role : {{_ROLE_NAME}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="DeleteApplicationRoleConfirm()">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSaveSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Save Success
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</section>

